/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f5;
    color: #333;
    text-align: center;
    scroll-behavior: smooth; /* Enable smooth scrolling */
}


h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: #585858;
}

.wave {
    display: inline-block;
    animation: bounce 1s; /* Duration will be controlled by JavaScript */
    margin-right: 6px; /* Add space between words */
}


h2, h3, h4 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #f86844;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #ff4b47;
}

/* Navigation Styles */
nav {
    background: linear-gradient(135deg, rgb(19, 155, 233), #f33ced);
    position: sticky;
    top: 0;
    padding: 10px 0;
    z-index: 10;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

/* Header */
header {

    
   
    
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    padding: 80px 10px;
    background-size: 400% 400%;
	animation: gradient 8s ease infinite;
    overflow: hidden;
    position: relative;
    text-align: center;




    /*
    background: linear-gradient(135deg, #ff6f61, #ff4b47);
    color: white;
    padding: 80px 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    */
}

header h1 {
    font-size: 3em;
    animation: textSlide 4s infinite ease-in-out;
}

.highlight {
    animation: fadeInOut 4s infinite alternate;
}

/* About Section */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 80px 20px;
    margin: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    opacity: 0; /* Start hidden for animation */
    animation: fadeIn 1s forwards; /* Fade in effect */
}

.aboutMe {
    max-width: 600px;
    text-align: left;
}

.aboutMe h2 {
    font-size: 2.5em;
    color: #ff6f61;
    margin-bottom: 20px;
}

.aboutMe h3 {
    font-size: 1.5em;
    color: #666;
    margin-top: 10px;
}

.aboutMe p {
    margin-top: 20px;
    line-height: 1.6;
    text-align: justify;
}

.myPicture {
    border-radius: 50%;
    border: 5px solid #ff6f61;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    width: 200px;
    height: 200px;
    margin-left: 60px; /* Adjust this value to move the image further right */
}



.myPicture:hover {
    transform: scale(1.1);
}

/* Projects Section */
.projects {
    margin: 60px 20px;
    opacity: 0; /* Start hidden for animation */
    animation: fadeIn 1s forwards; /* Fade in effect */
}

.projects h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 50px;
}

.project {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Animate shadow and transform */
    opacity: 0; /* Start hidden for animation */
    animation: slideIn 0.5s forwards; /* Slide in effect */
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project h4 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #ff6f61;
}

.project p, .project ul {
    text-align: left;
    margin: 0 auto;
    max-width: 800px;
}

.project ul li {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 8px;
}

/* Footer */
footer {
    background: linear-gradient(135deg, rgb(19, 155, 233), #f33ced);
    color: white;
    padding: 50px 10px;
    margin-top: 60px;
}

footer h2 {
    margin-bottom: 20px;
}

footer button {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: white;
    border: none;
    border-radius: 20px;
    color: #f4210e;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

footer button:hover {
    transform: scale(1.1);
    background-color: #f4210e;
    color: white;
}


/* Animations */
@keyframes textSlide {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

@keyframes fadeIn {
    to { opacity: 1; }
}

@keyframes fadeInOut {
    0% { opacity: 1; }
    100% { opacity: 0.5; }
}

@keyframes slideIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Wave Animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-15px);
    }
    40% {
        transform: translateY(10px);
    }
    60% {
        transform: translateY(-10px);
    }
    80% {
        transform: translateY(5px);
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
